{% extends 'base.html' %}


{% block title %}
    {{ page_title }}
{% endblock %}

{% block page_title %}
    {{ page_title }}
{% endblock %}


{% block content %}

{% if error %}
<article class="message is-danger">
    <div class="message-body">
        {{ error|safe }}
    </div>
</article>
{% endif %}

<table class="table is-hoverable">
    <tbody>
        {% for item in items %}
        <tr>
            <td class="has-background-link-light">{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}