{% extends 'base.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}


{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
<div class="card">
    <header class="card-header">
    <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        Write 2+ categories
    </p>
    </header>
    <div class="card-content">
        <form action="/submit_categories" method="post">
            <div class="field is-group">
                <div class="field-body">
                    <div class="field">
                        <div class="field-label is-normal has-text-left">
                            <label class="label">Categories</label>
                        </div>
                        <p class="control">
                            <input class="input is-danger" type="text" placeholder="e.g. Mathematics,Physics,Philosophy" name="categories" value="Mathematics,Physics,Philosophy" required>
                        </p>
                        <p class="help">Enter comma separated categories</p>
                    </div>
                    <div class="field">
                        <div class="field-label is-normal has-text-left">
                            <label class="label">Articles per category limit</label>
                        </div>
                        <p class="control">
                            <input class="input is-danger" type="text" placeholder="e.g. Mathematics,Physics,Philosophy" name="limit" value='200' required>
                        </p>
                        <p class="help">Enter comma separated categories</p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input button" type="submit" name="submit" value="Download articles">
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}