{% extends 'base.html' %}

{% block content %}
<div class="card">
    <header class="card-header">
    <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        {{message['title']}}
    </p>
    </header>
    <div class="card-content">
        <div> {{message['body']}} </div>
        {% if link %}
            <a href='{{link}}'>You can check the status by clicking here</a>
        {% endif %}
        {% if message['error'] %}
            {{message['error']}}
        {% endif %}
    </div>
</div>

{% endblock %}