{% extends 'base.html' %}

{% block content %}
<div class="card">
    <header class="card-header">
    <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        Downloading articles for {{ categories }}
    </p>
    </header>
    <div class="card-content">
        <p>{{ status }}</p>
        {% if status != 'PENDING' %}
            Now you can search for top terms in concepts
        {% else %}
            Please wait..
        {% endif %}
    </div>
</div>

{% endblock %}