{% extends 'base.html' %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block content %}

<h1 class="title is-3">Course python Project</h1>
<h2 class="title is-4">Description of the project</h2>
<p>The main purpose of this project is to get familiarize with container technology through the development of a simple application using Docker<br>I choose to develope an app to test Latent Semantic Analysis techniques on articles from Wikipedia, using <a href="https://spark.apache.org/">Apache Spark</a></p>


{% endblock %}